.navbarPage {
  background-color: #263148;
}
nav {
  position: fixed;
  width: 100%;
  backdrop-filter: blur(20px);
  background-color: #263148;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 80px;
}
nav .logo {
  width: 120px;
}
nav .logo img {
  width: 100%;
}
.navBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.navBtns button {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  color: white;
}
.navBtns button img {
  width: 20px;
  height: 20px;
}
